/* Dhad - IBM Plex Sans Arabic (OFL-1.1)
   The skill's fixed typeface. All eight weights bundled in ../fonts/ so the
   starter works offline with no CDN, no local-font detection, no fallback dance.
   License: ../fonts/OFL-LICENSE.txt */

@font-face { font-family: "IBM Plex Sans Arabic"; font-weight: 100; font-style: normal; font-display: swap; src: url("../fonts/IBMPlexSansArabic-Thin.woff2") format("woff2"); }
@font-face { font-family: "IBM Plex Sans Arabic"; font-weight: 200; font-style: normal; font-display: swap; src: url("../fonts/IBMPlexSansArabic-ExtraLight.woff2") format("woff2"); }
@font-face { font-family: "IBM Plex Sans Arabic"; font-weight: 300; font-style: normal; font-display: swap; src: url("../fonts/IBMPlexSansArabic-Light.woff2") format("woff2"); }
@font-face { font-family: "IBM Plex Sans Arabic"; font-weight: 400; font-style: normal; font-display: swap; src: url("../fonts/IBMPlexSansArabic-Regular.woff2") format("woff2"); }
@font-face { font-family: "IBM Plex Sans Arabic"; font-weight: 450; font-style: normal; font-display: swap; src: url("../fonts/IBMPlexSansArabic-Text.woff2") format("woff2"); }
@font-face { font-family: "IBM Plex Sans Arabic"; font-weight: 500; font-style: normal; font-display: swap; src: url("../fonts/IBMPlexSansArabic-Medium.woff2") format("woff2"); }
@font-face { font-family: "IBM Plex Sans Arabic"; font-weight: 600; font-style: normal; font-display: swap; src: url("../fonts/IBMPlexSansArabic-SemiBold.woff2") format("woff2"); }
@font-face { font-family: "IBM Plex Sans Arabic"; font-weight: 700; font-style: normal; font-display: swap; src: url("../fonts/IBMPlexSansArabic-Bold.woff2") format("woff2"); }
